<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ind</key>
		<string>201631162853</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>SY1</string>
		<key>backImage</key>
		<string>SYC1</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>229</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631162916</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>SY2</string>
		<key>backImage</key>
		<string>SYC2</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>356</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631162932</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>米白色</string>
		<key>image</key>
		<string>SY4</string>
		<key>backImage</key>
		<string>SYC4</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>219</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631162950</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>粉红色</string>
		<key>image</key>
		<string>SY5</string>
		<key>backImage</key>
		<string>SYC5</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>450</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>20163116308</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>绿色</string>
		<key>image</key>
		<string>SY10</string>
		<key>backImage</key>
		<string>SYC10</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>500</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163026</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>棕黄色</string>
		<key>image</key>
		<string>SY11</string>
		<key>backImage</key>
		<string>SYC11</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>579</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163052</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>SY13</string>
		<key>backImage</key>
		<string>SYC13</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>899</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>20163116318</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>蓝白格</string>
		<key>image</key>
		<string>SY14</string>
		<key>backImage</key>
		<string>SYC14</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>345</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163131</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>SY24</string>
		<key>backImage</key>
		<string>SYC24</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>899</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163145</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>SY26</string>
		<key>backImage</key>
		<string>SYC26</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>799</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163630</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>蓝色</string>
		<key>image</key>
		<string>XY3</string>
		<key>backImage</key>
		<string>XYC3</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>455</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163642</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>XY6</string>
		<key>backImage</key>
		<string>XYC6</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>677</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163656</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>XY12</string>
		<key>backImage</key>
		<string>XYC12</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>566</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163717</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>XY25</string>
		<key>backImage</key>
		<string>XYC25</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>777</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163739</string>
		<key>year</key>
		<string>2016夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>XY28</string>
		<key>backImage</key>
		<string>XYC28</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>450</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163753</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>酒红</string>
		<key>image</key>
		<string>ND7</string>
		<key>backImage</key>
		<string>NDC7</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>688</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>20163116384</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>ND9</string>
		<key>backImage</key>
		<string>NDC9</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>350</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163822</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>蓝色</string>
		<key>image</key>
		<string>ND27</string>
		<key>backImage</key>
		<string>NDC27</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>560</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163836</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>ND30</string>
		<key>backImage</key>
		<string>NDC30</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>569</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645163823</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>蓝色</string>
		<key>image</key>
		<string>SY29</string>
		<key>backImage</key>
		<string>SYC29</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645163824</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>SY31</string>
		<key>backImage</key>
		<string>SYC31</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>878</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645163825</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>SY32</string>
		<key>backImage</key>
		<string>SYC32</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645163826</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>绿色</string>
		<key>image</key>
		<string>SY33</string>
		<key>backImage</key>
		<string>SYC33</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645163827</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>SY34</string>
		<key>backImage</key>
		<string>SYC34</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>788</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645163828</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>棕色</string>
		<key>image</key>
		<string>SY35</string>
		<key>backImage</key>
		<string>SYC35</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>657</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631163927</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>配饰</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>褐色</string>
		<key>image</key>
		<string>PS76</string>
		<key>backImage</key>
		<string></string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>788</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164239</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>配饰</string>
		<key>bod</key>
		<string>第一波段</string>
		<key>color</key>
		<string>黄色</string>
		<key>image</key>
		<string>PS80</string>
		<key>backImage</key>
		<string></string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>799</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164459</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>SY73</string>
		<key>backImage</key>
		<string>SYC73</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164513</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>黄色</string>
		<key>image</key>
		<string>SY82</string>
		<key>backImage</key>
		<string>SYC82</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>1999</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164553</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>XY66</string>
		<key>backImage</key>
		<string>XYC66</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>20163116465</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>XY70</string>
		<key>backImage</key>
		<string>XYC70</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>1999</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164619</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>XY86</string>
		<key>backImage</key>
		<string>XYC86</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>899</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164632</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>ND60</string>
		<key>backImage</key>
		<string>NDC60</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>899</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164745</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>蓝色</string>
		<key>image</key>
		<string>ND62</string>
		<key>backImage</key>
		<string>NDC62</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>566</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201631164756</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>粉色</string>
		<key>image</key>
		<string>ND69</string>
		<key>backImage</key>
		<string>NDC69</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>677</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>20163116488</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>ND81</string>
		<key>backImage</key>
		<string>NDC81</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>899</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164757</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>粉红色</string>
		<key>image</key>
		<string>SY61</string>
		<key>backImage</key>
		<string>SYC61</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>555</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164758</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>粉红色</string>
		<key>image</key>
		<string>SY64</string>
		<key>backImage</key>
		<string>SYC64</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164759</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>SY65</string>
		<key>backImage</key>
		<string>SYC65</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>678</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164760</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>黑色</string>
		<key>image</key>
		<string>SY67</string>
		<key>backImage</key>
		<string>SYC67</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>666</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164761</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>绿色</string>
		<key>image</key>
		<string>SY68</string>
		<key>backImage</key>
		<string>SYC68</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>568</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164762</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>SY71</string>
		<key>backImage</key>
		<string>SYC71</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>888</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164763</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>SY72</string>
		<key>backImage</key>
		<string>SYC72</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>777</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164764</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>浅红</string>
		<key>image</key>
		<string>SY84</string>
		<key>backImage</key>
		<string>SYC84</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>888</string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201645164765</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第二波段</string>
		<key>color</key>
		<string>白色</string>
		<key>image</key>
		<string>SY85</string>
		<key>backImage</key>
		<string>SYC85</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>777</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164712</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>墨绿</string>
		<key>image</key>
		<string>tSY1</string>
		<key>backImage</key>
		<string>tSYC1</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>888</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164713</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>鲜红</string>
		<key>image</key>
		<string>tSY2</string>
		<key>backImage</key>
		<string>tSYC2</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>777</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164714</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>粉红</string>
		<key>image</key>
		<string>tSY6</string>
		<key>backImage</key>
		<string>tSYC6</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>999</string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164715</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>红色</string>
		<key>image</key>
		<string>tSY7</string>
		<key>backImage</key>
		<string>tSYC7</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string>666</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164716</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>粉红</string>
		<key>image</key>
		<string>tSY8</string>
		<key>backImage</key>
		<string>tSYC8</string>
		<key>pinkuan</key>
		<string>不上货</string>
		<key>price</key>
		<string>666</string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164717</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>粉红</string>
		<key>image</key>
		<string>tSY10</string>
		<key>backImage</key>
		<string>tSYC10</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164718</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY11</string>
		<key>backImage</key>
		<string>tSYC11</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164719</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY13</string>
		<key>backImage</key>
		<string>tSYC13</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164720</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY15</string>
		<key>backImage</key>
		<string>tSYC15</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164721</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY16</string>
		<key>backImage</key>
		<string>tSYC16</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164722</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY17</string>
		<key>backImage</key>
		<string>tSYC17</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164723</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY18</string>
		<key>backImage</key>
		<string>tSYC18</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164624</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>上装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tSY20</string>
		<key>backImage</key>
		<string>tSYC20</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164724</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY1</string>
		<key>backImage</key>
		<string>tXYC1</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164725</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY2</string>
		<key>backImage</key>
		<string>tXYC2</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164726</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY3</string>
		<key>backImage</key>
		<string>tXYC3</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164727</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY4</string>
		<key>backImage</key>
		<string>tXYC4</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164728</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY5</string>
		<key>backImage</key>
		<string>tXYC5</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164729</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY6</string>
		<key>backImage</key>
		<string>tXYC6</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164730</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY7</string>
		<key>backImage</key>
		<string>tXYC7</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164731</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY8</string>
		<key>backImage</key>
		<string>tXYC8</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164732</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY9</string>
		<key>backImage</key>
		<string>tXYC9</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164733</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY10</string>
		<key>backImage</key>
		<string>tXYC10</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164734</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY11</string>
		<key>backImage</key>
		<string>tXYC11</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164735</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY12</string>
		<key>backImage</key>
		<string>tXYC12</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164736</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY13</string>
		<key>backImage</key>
		<string>tXYC13</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164737</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY14</string>
		<key>backImage</key>
		<string>tXYC14</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164738</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>下装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tXY15</string>
		<key>backImage</key>
		<string>tXYC15</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164739</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND1</string>
		<key>backImage</key>
		<string>tNDC1</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164740</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND2</string>
		<key>backImage</key>
		<string>tNDC2</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164741</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND4</string>
		<key>backImage</key>
		<string>tNDC4</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164742</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND5</string>
		<key>backImage</key>
		<string>tNDC5</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164743</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND6</string>
		<key>backImage</key>
		<string>tNDC6</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164744</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND7</string>
		<key>backImage</key>
		<string>tNDC7</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164745</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND8</string>
		<key>backImage</key>
		<string>tNDC8</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164746</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>内搭</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>tND9</string>
		<key>backImage</key>
		<string>tNDC9</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164747</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ1</string>
		<key>backImage</key>
		<string>TZC1</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164748</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ3</string>
		<key>backImage</key>
		<string>TZC3</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164749</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ4</string>
		<key>backImage</key>
		<string>TZC4</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164750</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ5</string>
		<key>backImage</key>
		<string>TZC5</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164751</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ7</string>
		<key>backImage</key>
		<string>TZC7</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164752</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ11</string>
		<key>backImage</key>
		<string>TZC11</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164753</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ13</string>
		<key>backImage</key>
		<string>TZC13</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164754</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ14</string>
		<key>backImage</key>
		<string>TZC14</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164755</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ15</string>
		<key>backImage</key>
		<string>TZC15</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164756</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ16</string>
		<key>backImage</key>
		<string>TZC16</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164757</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ17</string>
		<key>backImage</key>
		<string>TZC17</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小陈</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164758</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ18</string>
		<key>backImage</key>
		<string>TZC18</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小张</string>
	</dict>
	<dict>
		<key>ind</key>
		<string>201646164759</string>
		<key>year</key>
		<string>2016年夏季女装</string>
		<key>type</key>
		<string>套装</string>
		<key>bod</key>
		<string>第三波段</string>
		<key>color</key>
		<string>打样</string>
		<key>image</key>
		<string>TZ19</string>
		<key>backImage</key>
		<string>TZC19</string>
		<key>pinkuan</key>
		<string>上货</string>
		<key>price</key>
		<string></string>
		<key>designor</key>
		<string>小美</string>
	</dict>
</array>
</plist>
